body {
  text-align: center;
  background-image: url("images/stage2.jpeg");
  background-size: cover;
}

#level-title {
  font-family: Helvitica, cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

button {
  display: inline-block;
  height: 134px;
  padding: 0;
  margin: 10px;
  vertical-align: top;
  width: 104px;
}

.close-image img {
  display: inline-block;
  vertical-align: top;
  height: 200px;  
  width: 200px;
  margin: 10px;
  object-fit: cover;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
